@main(title = "ALGORITMO DE SIMPLEX") {
<div id="contacto">
    <div>
        <h2>Creadores</h2>

        <h5>Sanchez, Martin</h5>
        <h5>Slodkowski, Tatiana </h5>
    </div>

    <br>
    <br>

    <div id="colaboradores">
        <h2>Base Teorica: Apuntes de clase</h2>

        <h5>Ing. Carlevari, Ricardo Daniel</h5>
        <h5>Ing. Miranda, Miguel</h5>
    </div>

    <br>
    <br>

    <div>
        <h2>Soporte</h2>
        <h5>martinLsanchez@@gmail.com</h5>
    </div>
</div>

<img id="univLogo"
     src="http://www.cessi.org.ar/imagenes/institucionales/2011-06/350-208-universidad_austral_ingenieria.jpg">

}